@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-*: initial;
  --color-primary: #1a80e5;
  --color-secondary: #f0f2f5;
  --color-white: #fff;
  --color-black: #000;
}
